#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

.TitleBar {
  margin-bottom: 32px;
}

.InputContainer {
  margin-bottom: 32px;
}

.OutputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.TableInputContainer {
  margin-bottom: 16px;
}

.TableNameInput {
  height: 1.4rem;
}

.DataInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ColumnNames, .ColumnData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 48%;
  row-gap: 4px;
  max-width: 300px;
}

.TextInput, .SelectInput {
  height: 24px;
  font-size: 14px;
  margin-bottom: 4px;
}

.SelectInput {
  height: 30px;
}

.CopyButton, .ResultTextbox {
  min-width: 200px;
  width: 88%;
  padding: 4px;
  box-sizing: border-box;
}

.CopyButton:hover {
  cursor: pointer;
}

.ResultTextbox {
  min-height: 400px;
  background-color: black;
  color: rgb(0, 199, 0);
  font-size: 0.9rem;
  font-family: "PT Mono", monospace;
  resize: vertical;
}

.ResultAmountContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.ResultAmountInput {
  height: 1.8rem;
}

.TheButton {
  height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.TheButton:hover {
  cursor: pointer;
}